header {
    height: 7.5em;
}

.profilePicture {
    width: 65%;
    border: 2px solid black;
    transition: 0.3s;
}

.welcomeName {
    padding-top: 1.2em;
}

.search {
    padding-top: 2em;
}

.profilePicture:hover {
    width: 75%;
    border: 3px solid black;
    cursor: pointer;
}

.darkMode {
    font-size: 350%;
    color: lightgray;
    transition: 0.2s;
}

.darkMode:hover {
    font-size: 375%;
    color: black;
    background-color: darkgray;
}

/*this is to hide the scrollbar in chrome*/
::-webkit-scrollbar {
    display: none;
}

/*this is to hide the scrollbar in firefox*/
body {
    scrollbar-width: none;
}

main {
    margin: 0px;
    height: 100%;
    background-image: url("../img/backgroundGameOne.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    margin: 0px;
}

.cardButton {
    margin-top: 75%;
}

main {
    background-image: url("../img/backgroundGameOne.jpg");
}

.toggleChange {
    text-decoration: none !important;
    margin: auto !important;
}

.hoverChange:hover {
    cursor: pointer;
}